<div class="row">
  <div id="new_form" class="col-md-6">
    <%= render 'tickets/form', ticket: @new_ticket %>
  </div>

  <div id="searched_ticket" class="col-md-6">

  </div>

  <div id="target">
     <input type="button" value="existing" id="target" />
  </div>

  <div id="results"></div>

  <div id="results2"></div>


</div>


<script>

  $("#target").click(function(e) {
    var cnic = $('#ticket_customer_cnic').val()
    console.log("this is the value from the input form", cnic)
    var url = '/tickets/list?cnic=' + cnic;
    $("#results").load(url, function() {
      //console.log("tt");
      console.log($(".list_ticket"));
      $(".list_ticket").click(function(e) {
       var id = this.innerHTML;
      console.log(id);
      var url = '/tickets/'+ id +'/edit';
      $("#results2").load(url);
      });
    });
  });





</script>
