<div class="row">
    <div class="col-md-6">
      <%= render 'tickets/form', ticket: @ticket %>
    </div>

    <div class="col-md-6">
      # Rachel this is your side for searches
    </div>

</div>
