<div id="wrapper">

<div id="new_form" class="col-md-8">
  <%= render 'tickets/form', ticket: @new_ticket %>
</div>

<div id="searched_results" class="col-md-4"></div>

</div>

<div id="edit_ticket"></div>
<script>
  $("#new_form").click(function(e) {
    var cnic = $('#ticket_customer_cnic').val()
    console.log("this is the value from the input form", cnic)
    var url = '/tickets/list?cnic=' + cnic;


    $("#searched_results").load(url, function() {
      //console.log("tt");
      console.log($(".list_ticket"));
      $(".list_ticket").click(function(e) {

        var id = this.innerHTML;
        console.log(id);
        var url = '/tickets/'+ id +'/edit?form_only=true';
        $("#new_form").empty();
        $("#new_form").load(url);

      });
    });
  });
</script>


