 <div class="side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                          <li class="left-menu-title">Navigation</li>
                            <div class="dropdown">
                              <button class="btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tickets
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">My Tickets</a></li>
                                <li><a class="dropdown-item" href="#">New Tickets</a></li>
                                <li><a class="dropdown-item" href="#">Active Tickets</a></li>
                                <li><a class="dropdown-item" href="#">Pending Tickets</a></li>
                                <li><a class="dropdown-item" href="#">Ready Tickets</a></li>
                              </div>
                            </div>

                             <div class="dropdown">
                              <button class="btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Insights
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Summary</a></li>
                                <li><a class="dropdown-item" href="#">Tracking</a></li>
                                <li><a class="dropdown-item" href="#">Responsiveness</a></li>
                                <li><a class="dropdown-item" href="#">Pending Tickets</a></li>
                                <li><a class="dropdown-item" href="#">Individual Performance</a></li>
                              </div>
                            </div>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
