
<div class="searchbar">
  <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Which ticket are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search" aria-hidden="true"></i>
     </button>
   </div>
  </div>
</div>
