
.side-menu{
  background: #959DA1;
  height: 1183px;
  width:100%;
  color: #959DA1;

}

.sidebar-bg{
  background: #959DA1;
  text-decoration: none;
}

#dropdownMenuButton{
  color: #959DA1;
  text-decoration: none;
}

.menu-title{
  color: #959DA1;
}

.left-menu-title{
  color: #959DA1;
}


.dropdown{
  color: #959DA1;
}
