
/* Main navbar */
.navbar-nizam {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 65px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin:0;
  width: 100%;
  z-index: 2;
  top: 0;
  font-family: T-Myriad Pro;
}



/* Logo */
.logo{
  position: absolute;
  left:20px;
}
/* Right section */
.navbar-nizam-right {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

/* Basic navbar item */

.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */

.navbar-link {
  color: #616668;
  font-size: 14px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}


.btn-green {
  /* Rectangle: */
  background: #A4CD3B;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
  border-radius: 8px;
  /* Start New Call: */
  // font-family: Baghdad;
  font-size: 20px;
  color: #FFFFFF;
  // letter-spacing: -0.57px;
  margin-right: 80px;
  padding: 5px 20px 0px 20px;
}

.btn-blue {
  /* Rectangle: */
  background: #463aa0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
  border-radius: 8px;
  /* Start New Call: */
  // font-family: Baghdad;
  font-size: 20px;
  color: #FFFFFF;
  // letter-spacing: -0.57px;
  margin-right: 80px;
  padding: 5px 20px 0px 20px;
}

.start-new-call:hover a {
  color: #ddefaa;
  text-decoration: none;
}

