// Place all the styles related to the insights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  width: 100%;
}

.sidebar {
  width:100%;
  height:100vw;
  color:white;
  z-index: -2px;
  background: #2F3E47;
  position:fixed;
  padding-top: 30px;
}

.dropdown {
  padding:0 !important;
}

.dropdown-menu {
  padding:0 !important;
}


.dropdown-item {
  color: #959DA1;
  font-size: 12px;
  padding-left: 10px;
  margin-top: 10px;
  padding: 10px;
  margin: 0 !important;
}

.ticket_link {
  background: #2F3E47;
  color: #959DA1;
  text-decoration: none;
  padding-left: 10px
  // padding: 15px 15px 0px 15px !important;
}

.btn-secondary {
  width: 16.666vw;
  text-align:left;
}

.hover-sidebar-tab {
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
}

.hover-sidebar-tab p{
  color: #959DA1;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
}

.hover-sidebar-tab:hover {
  background-color:rgba(87, 197, 165, 0.44);;
  color:white;

}

.hover-sidebar-tab:hover p {
  color: white;
}
