// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Generic*/
// .wrapper{
//   margin: 60px auto;
//   text-align: center;
// }
// h1{
//   margin-bottom: 1.25em;
// }

/*Specific styling*/
// table {
//   display: inline-block;
//   border: 1px solid #373737;
//   margin-bottom: 20px;
//   text-align: center;
//  }

// th {
//   // font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   // padding: 10px;
//   background: #373737;
//   color: #fff;
//  }

// // td {
// //   padding: 10px;
// //   border: 1px solid #373737;
// //  }

// form {
//   background: #f2f2f2;
//   padding: 20px;
// }


body {
  font-family:'Roboto', sans-serif !important;
}

.alert {
  margin-bottom:0 !important;
}

.content {
  padding-top: 10px;
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  text-align:center;
  min-height: 100vh;
  // padding: 0 auto;
}
.tabbar {
  font-size: 20px;
  color: #FFFFFF;
  padding: 30px;
  text-align: left;
  min-height: 100vh;
  padding-right: 0;
  margin:0px;
}

.tabbar hr {
  border: 1px solid rgba(151,151,151,0.26);
}

.tickets {
  background-color: #F4F4F4;
  border-radius: 4px;
  // height:100vh;
  padding: 12px !important;
  // margin-top: 15px;
  // margin-left: 20px;
  margin: 15px 30px 15px 30px;
}

.tickets th {
  color: #2F3E47;
}

.tickets a{
  text-decoration:none;
  color: grey;
}

.tickets a hover{
  color: #57C5A5 !important;
}

table {
  text-align: left;
}


.table thead tr th {
  margin: 0;
  text-align:left;
  color: grey;
  font-size:14px;
}

tr th {
  font-family: 'Rototo', sans-serif;
  font-weight: 600;
}

// .green-btn {
//   /* Rectangle: */
//   background: #A4CD3B;
//   padding-left: 27px;
//   padding-right: 27px;
//   padding-top: 15px;
//   padding-bottom: 15px;
//   border-radius: 2px;
//   color: #fff;
//   float: right;
//   margin-right: 155px;
//   font-size: 15px;
//   line-height: 20px;
// }

// .green-btn a {
//   color: #FFFFFF;
// }

// .green-btn:hover {
//   transform: translateY(-3px);

//   transform: translateY(-3px);

//   transform: translateY(-3px);

//   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);

// }

a:hover {
  color: white !important;
  text-decoration:none !important;

}

.form {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.form-no-width {
  margin: 0 auto;
  text-align: center;
  z-index: 15;
  position: relative;
  background: $white;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, .1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
}

.show-content{

}

.show-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;

}

.show-label{
  display: block;
      // margin: 0 5px 5px;
  color: $gray;
  font-size: 12px;
  font-weight: $semibold;
  line-height: 0.2;
  text-transform: uppercase;
  letter-spacing: .2em;
  float: left;
}

.show-text{
  outline: none;
  display: block;
  background: rgba($black, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: $gray;
  font-family: inherit;
  font-size: inherit;
  font-weight: $semibold;
  line-height: inherit;
  transition: 0.3s ease;
  text-align: left;

}

.edit-icon {
  max-height: 18px;
  max-width: 18px;
  margin: 0;
  padding: 0;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear, box-shadow 0.1s linear;
}

.edit-icon:hover {
  transform: translateY(1.5px);
  transform: translateY(1.5px);
  transform: translateY(1.5px);

}


.table-hover tr th {
   font-weight: 600;
   text-align: center;
 }


.one-third {
  width: 30%
}

#wrapper{
 padding: 0 40px;
}

#new_form{
   float:left;
}

#searched_results{
    float:right;
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
    float: left;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:10px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:5px;
}
table tr {
  text-align: left;
  width: 50px;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:18px;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.list_ticket{
  margin: 0
}
