// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Generic*/
// .wrapper{
//   margin: 60px auto;
//   text-align: center;
// }
// h1{
//   margin-bottom: 1.25em;
// }

/*Specific styling*/
// table {
//   display: inline-block;
//   border: 1px solid #373737;
//   margin-bottom: 20px;
//   text-align: center;
//  }

// th {
//   // font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   // padding: 10px;
//   background: #373737;
//   color: #fff;
//  }

// // td {
// //   padding: 10px;
// //   border: 1px solid #373737;
// //  }

// form {
//   background: #f2f2f2;
//   padding: 20px;
// }



.content {
  background: rgb(230, 230, 230);
  margin: 0;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align:center;
  padding: 0px 0px 0px 50px;
}
.tabbar {
  font-family: AndaleMono;
  font-size: 20px;
  color: #FFFFFF;
  padding: 30px;
  text-align: left;
  min-height: 100vh;
  padding-right: 0;
  margin:0px;
}

.tabbar hr {
  border: 1px solid rgba(151,151,151,0.26);
}

.tickets {
  background-color: #FFFFFF;
  // height:100vh;
  padding-left: 0;
  margin:0;
}

.table thead tr th {
  margin: 0 5px;
}

.green-btn {
  /* Rectangle: */
  background: #A4CD3B;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.27);
  border-radius: 3px;
  /* Start New Call: */
  font-family: Baghdad;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: -0.57px;
  margin-right: 20px;
  padding: 5px 20px 0px 20px;
  width:200px;
  margin: 20px auto;
}

.green-btn a {
  color: #FFFFFF;
}

.green-btn:hover a {
  font-style: none;
  color: #ddefaa;
  text-decoration: none;
}

.form {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
