// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Generic*/
// .wrapper{
//   margin: 60px auto;
//   text-align: center;
// }
// h1{
//   margin-bottom: 1.25em;
// }

/*Specific styling*/
// table {
//   display: inline-block;
//   border: 1px solid #373737;
//   margin-bottom: 20px;
//   text-align: center;
//  }

// th {
//   // font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   // padding: 10px;
//   background: #373737;
//   color: #fff;
//  }

// // td {
// //   padding: 10px;
// //   border: 1px solid #373737;
// //  }

// form {
//   background: #f2f2f2;
//   padding: 20px;
// }


body {
  font-family:'Open Sans', sans-serif !important;
}

.content {
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  text-align:center;
  padding: 0px 0px 0px 50px;
}
.tabbar {
  font-size: 20px;
  color: #FFFFFF;
  padding: 30px;
  text-align: left;
  min-height: 100vh;
  padding-right: 0;
  margin:0px;
}

.tabbar hr {
  border: 1px solid rgba(151,151,151,0.26);
}

.tickets {
  background-color: #FFFFFF;
  height:100vh;
  padding-left: 0;
  margin:0;
}

.table thead tr th {
  margin: 20px 5px;
}

tr th {
  font-family: 'Rototo', sans-serif;
  font-weight: 600;
  text-align: center;
}
// .green-btn {
//   /* Rectangle: */
//   background: #A4CD3B;
//   padding-left: 27px;
//   padding-right: 27px;
//   padding-top: 15px;
//   padding-bottom: 15px;
//   border-radius: 2px;
//   color: #fff;
//   float: right;
//   margin-right: 155px;
//   font-size: 15px;
//   line-height: 20px;
// }

// .green-btn a {
//   color: #FFFFFF;
// }

// .green-btn:hover {
//   transform: translateY(-3px);

//   transform: translateY(-3px);

//   transform: translateY(-3px);

//   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);

// }

.form {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
