
<div class="charts">

    <div class="chart-card">
          <h4>Leaderboard</h4>
          <% User.all.select{|u| u.position == 'csrep'}.sort_by{|u| u.calls.select{|c| c.created_at.today? && c.duration }.count }.reverse.each_with_index do |user, i| %>
            <div class="row">
              <div class="col-sm-2">
                <div>
                  <div class="col-sm-4">
                    <h2 style="color: #57C5A5;"><%= i+1 %>  </h2>
                  </div> <!-- inner-col-end -->
                  <div class="col-sm-7">
                    <h4><%= user.name %></h4>
                  </div> <!-- inner-col-end -->
                </div> <!-- inner-row-end -->
                <div class="row">
                  <div class="col-sm-12">
                    <div style="font-size: 13px; font-family: 'Caveat', cursive;"><%= user.desc %></div>
                  </div> <!-- inner-col-end -->
                </div> <!-- inner-row-end -->
              </div> <!--col-end -->
              <div class="col-sm-10">
                  <%= bar_chart Call.performance_hash(user), height: "100px", colors: @colors[user.id % 5], stacked: true %>
              </div> <!--col-end -->
            </div>  <!-- row end -->
          <% end %>
    </div> <!-- chart-card end -->
</div> <!-- Charts end -->
