Louis_work.html.erb
<!-- <!-- <div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div class="text-center">
        <h2>Customer Angel</h2>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div class="text-center">
        <h2>Number of Calls</h2>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div class="text-center">
        <h2>Call Duration</h2>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div class="text-center">
        <h2>Daily Tickets</h2>
      </div>
    </div>
  </div>
</div>
<!-- end row -->


<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div>
        <img src="<%= asset_path('users/avatar-3.jpg') %>" class="img-responsive img-circle" alt="user">
        <div class="wid-u-info">
          <h4 class="m-t-0 m-b-5">Chadengle</h4>
          <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
          <small class="text-custom"><b>Admin</b></small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
     <p>32 calls the 21st of August</p>
    <p class="font-600 m-b-5">InBound <span class="text-custom pull-right">70%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->

     <p class="font-600 m-b-5">OutBound <span class="text-custom pull-right">30%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 30%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div>
        <div class="wid-u-info">
          <h4 class="m-t-0 m-b-5">Chadengle</h4>
          <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
          <small class="text-custom"><b>Admin</b></small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div id="donut-chart">
        <div id="donut-chart-container" class="flot-chart" style="height: 260px; padding: 0px; position: relative;">
        <canvas class="flot-base" width="528" height="260" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 528px; height: 260px;"></canvas><canvas class="flot-overlay" width="528" height="260" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 528px; height: 260px;"></canvas><div class="legend"><div style="position: absolute; width: 90px; height: 88px; top: 50px; right: 50px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div><table style="position:absolute;top:50px;right:50px;;font-size:smaller;color:#545454"><tbody><tr><td class="legendColorBox"><div style="border:1px solid null;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(78,177,148);overflow:hidden"></div></div></td><td class="legendLabel"><div style="font-size:14px;">&nbsp;Desktops</div></td></tr><tr><td class="legendColorBox"><div style="border:1px solid null;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(87,197,165);overflow:hidden"></div></div></td><td class="legendLabel"><div style="font-size:14px;">&nbsp;Laptops</div></td></tr><tr><td class="legendColorBox"><div style="border:1px solid null;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(121,209,183);overflow:hidden"></div></div></td><td class="legendLabel"><div style="font-size:14px;">&nbsp;Tablets</div></td></tr><tr><td class="legendColorBox"><div style="border:1px solid null;padding:1px"><div style="width:4px;height:0;border:5px solid rgb(154,220,201);overflow:hidden"></div></div></td><td class="legendLabel"><div style="font-size:14px;">&nbsp;Mobiles</div></td></tr></tbody></table></div></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div>
        <img src="<%= asset_path('users/avatar-2.jpg') %>" class="img-responsive img-circle" alt="user">
        <div class="wid-u-info">
          <h4 class="m-t-0 m-b-5"> Michael Zenaty</h4>
          <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
          <small class="text-custom"><b>Admin</b></small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <p>48 calls the 21st of August</p>
    <p class="font-600 m-b-5">InBound <span class="text-custom pull-right">50%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->

     <p class="font-600 m-b-5">OutBound <span class="text-custom pull-right">50%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div>
        <img src="<%= asset_path('users/avatar-1.jpg') %>" class="img-responsive img-circle" alt="user">
        <div class="wid-u-info">
          <h4 class="m-t-0 m-b-5">Stillnotdavid</h4>
          <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
          <small class="text-custom"><b>Admin</b></small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <p>33 calls the 21st of August</p>
    <p class="font-600 m-b-5">InBound <span class="text-custom pull-right">90%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->

     <p class="font-600 m-b-5">OutBound <span class="text-custom pull-right">10%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 10%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card-box widget-user">
      <div>
        <img src="<%= asset_path('users/avatar-10.jpg') %>" class="img-responsive img-circle" alt="user">
        <div class="wid-u-info">
          <h4 class="m-t-0 m-b-5">Tomaslau</h4>
          <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
          <small class="text-custom"><b>Admin</b></small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
     <p>54 calls the 21st of August</p>
    <p class="font-600 m-b-5">InBound <span class="text-custom pull-right">60%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->

     <p class="font-600 m-b-5">OutBound <span class="text-custom pull-right">40%</span></p>
    <div class="progress progress-bar-custom-alt progress-sm m-b-20">
      <div class="progress-bar progress-bar-custom progress-animated wow animated animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%; visibility: visible; animation-name: animationProgress;">
      </div><!-- /.progress-bar .progress-bar-danger -->
    </div><!-- /.progress .no-rounded -->
  </div>
</div>
<!-- end row -->





