<div class="container">
  <div class="row">
    <div class="col-md-2">
    <div id="donut-example"></div>
    <div id="donut-example"></div>
    <div id="donut-example"></div>
    <div id="donut-example"></div>

    <div class="text-align">
      <img src="<%= asset_path('users/avatar-2.jpg') %>" class="img-responsive img-circle" alt="user">
    </div>

    <div class="text-align">
      <img src="<%= asset_path('users/avatar-10.jpg') %>" class="img-responsive img-circle" alt="user">
    </div>

    <div class="text-align">
      <img src="<%= asset_path('users/avatar-1.jpg') %>" class="img-responsive img-circle" alt="user">
    </div>

    <div class="text-align">
      <img src="<%= asset_path('users/avatar-3.jpg') %>" class="img-responsive img-circle" alt="user">
    </div>
  </div>
    <div class="col-md-9">
      <div id="horizontal-bar-chart" class="ct-chart ct-golden-section"></div>
    </div>
  </div>
</div>

<script>

  //Horizontal bar chart


  new Chartist.Bar('#horizontal-bar-chart', {
    labels: ['Abdullah', 'Mohamed', 'Aziz', 'Nassim'],
    series: [
    [7, 16, 20, 12],
    [3.4, 7, 9, 8]
    ]
  }, {
    seriesBarDistance: 20,
    reverseData: true,
    horizontalBars: true,
    axisY: {
      offset: 70
    },
    width: 800,
    height: 500,
  });

  Morris.Donut({
    element: 'donut-example',
    data: [
    {label: "Download Sales", value: 12},
    {label: "In-Store Sales", value: 30},
    {label: "Mail-Order Sales", value: 20}
    ]
  });

</script>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>

