 <div class="row">
    <div class="col-sm-9">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <h4 class="header-title m-t-0 m-b-30">Horizontal bar chart</h4>

             <div id="horizontal-bar-chart" class="ct-chart ct-golden-section">
                <div class="chartist-tooltip" style="top: 230px; left: 122px;"><span class="chartist-tooltip-value">3</span></div>
                <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-bar ct-horizontal-bars" style="width: 100%; height: 100%;">
                    <g class="ct-grids">
                        <line y1="242" y2="242" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line y1="209.57142857142856" y2="209.57142857142856" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line y1="177.14285714285714" y2="177.14285714285714" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line y1="144.71428571428572" y2="144.71428571428572" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line y1="112.28571428571428" y2="112.28571428571428" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line y1="79.85714285714283" y2="79.85714285714283" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line y1="47.428571428571416" y2="47.428571428571416" x1="80" x2="434" class="ct-grid ct-vertical"></line>
                        <line x1="80" x2="80" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="124.25" x2="124.25" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="168.5" x2="168.5" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="212.75" x2="212.75" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="257" x2="257" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="301.25" x2="301.25" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="345.5" x2="345.5" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="389.75" x2="389.75" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                        <line x1="434" x2="434" y1="15" y2="242" class="ct-grid ct-horizontal"></line>
                    </g>
                    <g>
                        <g class="ct-series ct-series-a">
                            <line y1="230.78571428571428" y2="230.78571428571428" x1="80" x2="221.6" class="ct-bar" value="4"></line>
                            <line y1="198.35714285714283" y2="198.35714285714283" x1="80" x2="292.4" class="ct-bar" value="6"></line>
                            <line y1="165.92857142857142" y2="165.92857142857142" x1="80" x2="221.6" class="ct-bar" value="4"></line>
                            <line y1="133.5" y2="133.5" x1="80" x2="257" class="ct-bar" value="5"></line>
                            <line y1="101.07142857142856" y2="101.07142857142856" x1="80" x2="398.6" class="ct-bar" value="9"></line>
                            <line y1="68.64285714285711" y2="68.64285714285711" x1="80" x2="150.8" class="ct-bar" value="2"></line>
                            <line y1="36.2142857142857" y2="36.2142857142857" x1="80" x2="186.2" class="ct-bar" value="3"></line>
                        </g>
                        <g class="ct-series ct-series-b">
                            <line y1="220.78571428571428" y2="220.78571428571428" x1="80" x2="186.2" class="ct-bar" value="3"></line>
                            <line y1="188.35714285714283" y2="188.35714285714283" x1="80" x2="434" class="ct-bar" value="10"></line>
                            <line y1="155.92857142857142" y2="155.92857142857142" x1="80" x2="257" class="ct-bar" value="5"></line>
                            <line y1="123.5" y2="123.5" x1="80" x2="327.8" class="ct-bar" value="7"></line>
                            <line y1="91.07142857142856" y2="91.07142857142856" x1="80" x2="186.2" class="ct-bar" value="3"></line>
                            <line y1="58.64285714285712" y2="58.64285714285712" x1="80" x2="221.6" class="ct-bar" value="4"></line>
                            <line y1="26.2142857142857" y2="26.2142857142857" x1="80" x2="257" class="ct-bar" value="5"></line>
                        </g>
                    </g>
                    <g class="ct-labels">
                        <foreignObject style="overflow: visible;" y="209.57142857142856" x="10" height="32.42857142857143" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Sunday</span></foreignObject>
                        <foreignObject style="overflow: visible;" y="177.1428571428571" x="10" height="32.42857142857143" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Saturday</span></foreignObject>
                        <foreignObject style="overflow: visible;" y="144.71428571428572" x="10" height="32.42857142857143" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Friday</span></foreignObject>
                        <foreignObject style="overflow: visible;" y="112.28571428571429" x="10" height="32.42857142857143" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Thursday</span></foreignObject>
                        <foreignObject style="overflow: visible;" y="79.85714285714283" x="10" height="32.428571428571445" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Wednesday</span></foreignObject>
                        <foreignObject style="overflow: visible;" y="47.428571428571416" x="10" height="32.428571428571416" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Tuesday</span></foreignObject>
                        <foreignObject style="overflow: visible;" y="15" x="10" height="32.428571428571416" width="60"><span class="ct-label ct-vertical ct-start" style="height: 32px; width: 60px" xmlns="http://www.w3.org/1999/xhtml">Monday</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="80" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="124.25" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">1.25</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="168.5" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">2.5</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="212.75" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">3.75</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="257" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">5</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="301.25" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">6.25</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="345.5" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">7.5</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="389.75" y="247" width="44.25" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 44px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">8.75</span></foreignObject>
                        <foreignObject style="overflow: visible;" x="434" y="247" width="30" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 30px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">10</span></foreignObject>
                    </g>
                </svg>
            </div>
          </div>
      </div><!-- end col-->
  </div> <!-- Row end -->

  <script src="assets/javascripts/facto/jquery.min.js"></script>
  <script src="assets/javascripts/facto/bootstrap.min.js"></script>
  <script src="assets/javascripts/facto/detect.js"></script>
  <script src="assets/javascripts/facto/fastclick.js"></script>
  <script src="assets/javascripts/facto/jquery.slimscroll.js"></script>
  <script src="assets/javascripts/facto/jquery.blockUI.js"></script>
  <script src="assets/javascripts/facto/waves.js"></script>
  <script src="assets/javascripts/facto/wow.min.js"></script>
  <script src="assets/javascripts/facto/jquery.nicescroll.js"></script>
  <script src="assets/javascripts/facto/jquery.scrollTo.min.js"></script>

  <script src="assets/plugins/chartist/dist/chartist.min.js"></script>
  <script src="assets/plugins/chartist/dist/chartist-plugin-tooltip.min.js"></script>
  <script src="assets/pages/jquery.chartist.init.js"></script>

